body{
  background-image: url('../images/white_paperboard.png')
}
header{
  border-bottom: solid 2px lightgrey;
  background-color: white;
  width: 100%;
}
.topcontainer{
width: 960px;
margin: auto;
}

#name{
  background-color: rgb(197, 150, 209);
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}

#navBar{
float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

ul li{
  display: inline;
}

a{
  color: lightgray;
}

section.content{
  background-color: white;
  margin: auto 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 10px;

}

section.footer{
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 0;
  background-color: darkgrey;
  border-top: solid rgb(197, 150, 209) 10px;
}

section.footer p{
  text-align: center;
}

section.content div.content{
  border-top: solid gray 3px;
  border-width: 75%;
}

section.content div{
  padding: 10px;
}

img{
  width: 250px;
  height: 175px;
  margin: 10px;
  float: left;
}

div.content p{
  font-size: 16px;
  line-height: 30px;
  color: gray;
}